//BUTTONS//

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}
.topbar__btn__menu {
    padding: 30px 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.bottombar__btn__buscador {
    width: 70%;
    padding: 8px 13px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: left;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.bottombar__btn__subir {
    padding: 23px;
    gap: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;
}