//BUTTONS//

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;

    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
.topbar__btn__menu {
    padding: 30px 50px;
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: difference;
    -webkit-user-select: none;
    user-select: none;
}

@media all and (min-width: 800px) {
    .topbar__btn__menu {
        display: none;
    }
}

.bottombar__btn__buscador {
    width: 70%;
    padding: 8px 13px;
    background: $color__white--lowopacity;
    border: 1px solid $color__white;
    border-radius: 20px;
    color: $color__white;
    text-align: left;

    font-size: 14px;
    cursor: pointer;
}

.bottombar__btn__subir {
    padding: 18px 23px;
    gap: 5px;
    background: $color__white--lowopacity;
    border: 1px solid $color__white;
    border-radius: 14px;
    color: $color__white;
    text-align: center;
    cursor: pointer;
}

.list__btn__profile {
    text-decoration: none;
    color: black;
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.btn__mas,
.btn__mas--margin60 {
    background: $color__principal__verde;
    margin-top: 20px;
    padding: 3px 39px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn__mas--margin60 {
    margin-top: 60px;
}

.btn__funcionamiento {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background: $color__gray;
    border: 1px solid black;
    border-radius: 42px;
}

.btn__suscribir {
    background-color: $color__dark;
    color: $color__white;
    border-radius: 42px;
    padding: 10px 24px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}


/*  JAVASCRIPT   */

.hide {
    visibility: visible;
}

.block {
    display: block;
}

.none {
    display: none;
}
.btn__timeline--select {
    color: $color__principal__azul;
}
/*
.dark {
    color:rgba(50, 50, 50, 1)
}

.scrolledLogo {
    width: 50px;
}

.flex-start {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 12px;
}
*/