/*  BUTTONS */

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;

    font-family: $font__family--base;
    font-weight: $font__regular;
}

.topbar__btn__menu {
    padding: 30px 50px;
    position: absolute;
    top: 0;
    right: 0;
    @include mq {
        display: none;
    }
}

/*   BOTONES HOME   */

.bottombar__btn__buscador {
    width: 70%;
    padding: 8px 13px;
    background: $color__white--lowopacity;
    border: 1px solid $color__white;
    border-radius: $border__radius--m;
    color: $color__white;
    font-size: $copy--s;
    cursor: pointer;
}

.bottombar__btn__subir {
    padding: 18px 23px;
    gap: 5px;
    background: $color__white--lowopacity;
    border: 1px solid $color__white;
    border-radius: $border__radius--m;
    color: $color__white;
    cursor: pointer;
}

.btn__funcionamiento {
    width: 100%; /*TODO width--100 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: $color__gray;
    border: 1px solid $color__black;
    border-radius: $border__radius--xl;
}

/*   BOTONES ABOUT   */

.timeline__momento__btn {
    cursor: pointer;
}

/*   BOTONES SUBIR  */

.anuncio__link {
    appearance: none;
    text-decoration: none;
    color: $color__black;
    cursor: pointer;
    padding: 30px 20px;
    border: 1px solid $color__black;
    border-radius: $border__radius--xl;
    display: flex;
    flex-direction: column;
}

/*  BOTONES BUSCAR  */

.btn__contact,
.btn__contact--pagead,
.btn__info {
    padding: 5px;
    border: 1px solid $color__black;
    border-radius: $border__radius--s;
    font-size: $copy--xs;
    margin: 10px 0;
    opacity: 0.65;
    width: 40%;
    text-decoration: none;
    font-weight: $font__base--semibold;
    color: $color__black;
    background-color: $color__principal__verde;
    cursor: pointer;
}

.btn__info {
    background-color: $color__white;
}

.btn__contact:hover,
.btn__info:hover {
    opacity: 1;
}

.btn__contact--pagead {
    opacity: 1;
    font-size: $copy--m;
    background-color: $color__white;
}

/*   BOTONES GENERALES   */
.list__btn__profile {
    text-decoration: none;
    color: $color__black;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.btn__breadcrumbs {
    cursor: pointer;
}

.btn__breadcrumbs--active {
    color: $color__principal__azul;
}

.btn__breadcrumbs--hide {
    display: none;
    @include mq {
        display: inline-block;
    }
}

.btn__breadcrumbs--brief {
    @include mq {
        display: none;
    }
}

.btn__mas,
.btn__mas--margin60 {
    background: $color__principal__verde;
    margin-top: 20px;
    padding: 3px 39px;
    border-radius: $border__radius--s;
    font-size: $copy--l;
    align-self: center;
    cursor: pointer;
}

.btn__mas--margin60 {
    margin: 60px 0;
}

.btn__allresults {
    padding: 5px 16px;
    border: 1px solid $color__black;
    border-radius: $border__radius--xl;
    width: 100%; /*TODO width--100 */
    margin-top: 10px;
}

.btn__suscribir {
    background-color: $color__dark;
    color: $color__white;
    border-radius: $border__radius--xl;
    padding: 10px 24px;
    cursor: pointer;
}

/*  JAVASCRIPT   */
.hide {
    visibility: visible;
}

.block {
    display: block;
}