/*   FORMS   */

input {
    appearance: none;
    background: none;
    border: none;
    font-weight: 400;
}

/*   ABOUT PAGE  TIMELINE   */

.timeline__momento [type="radio"] {
    opacity: 0;
}

[type="radio"]:checked ~ .timeline__momento__btn {
    color: $color__principal__azul;
    border: 1px solid white;
    background-color: white;
    z-index: 2;
}

[type="radio"]:checked ~ .timeline__momento__btn ~ .timeline__momento__explicacion {
    z-index: 1;
}

/*   SUBIR FORMULARIO   */

.adform__input__text,
.adform__input__checkbox {
    padding: 12px 22px;
    background-color: $color__light__gray;
    border: 1px solid $color__black;
    border-radius: 17px;
    margin-top: 10px;
}

.adform__input__checkbox {
    padding: 10px 10px;
}

.adform__input__checkbox:checked {
    background-color: $color__principal__verde;
}

.tag__label,
.tag__buscador,
.nivel__label {
    background: $color__light__gray;
    border-radius: 22px;
    padding: 10px;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.tag__label,
.nivel__label {
    border: 1px solid $color__black;
    flex-direction: column;
}


.adform__tag [type="checkbox"],
.input__experiencia__nivel [type="radio"],
.buscador__tags [type="checkbox"] {
    opacity: 0;
    display: none;
}
  
[type="checkbox"]:checked ~ .tag__label,
[type="radio"]:checked ~ .nivel__label {
    background: $color__principal__verde;
    border-radius: 22px;
}

/*   BUSCAR BUSCADOR   */
.tag__buscador {
    gap: 5px;
    padding: 5px 10px;
}
[type="checkbox"]:checked ~ .tag__buscador {
    color: $color__white;
    background: $color__black;
}
[type="checkbox"]:checked ~ .tag__buscador::after {
    content: url(../../svg/x__white.svg);
}

.buscador__form__input {
    border: 1px solid $color__black;
    width: fit-content;
    padding: 9px 9px 9px 40px;
    background: transparent url(../../svg/vector_lupa.svg) no-repeat 13px center;
    border-radius: 22px;
    margin-bottom: 5px;
    transition: width 0.3s ease-in-out;
}

.buscador__form__input::placeholder {
    color: $color__dark__gray;
}

.buscador__form__input:focus {
    width: 100%;
    box-shadow: 0 0 3px 0 $color__principal__azul;
    border-color: $color__principal__azul;
    color: $color__black;
    outline: none;
}



.buscador__form__input::-webkit-search-cancel-button {
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url(../../svg/btn_close.svg);
    background-size: 10px 10px;
}



/*   NEWSLETTER FORM   */
.newsletter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
}

@media all and (min-width: 800px) {
    .newsletter__form {
        flex-direction: row;
    }
}    

.newsletter__input {
    border-bottom: 1px solid black;
    width: 100%;
}


