/*   FORMS   */

input {
    appearance: none;
    background: none;
    border: none;
    font-weight: 400;
}

/*   ABOUT PAGE  TIMELINE   */

.timeline__momento [type="radio"] {
    opacity: 0;
}

[type="radio"]:checked ~ .timeline__momento__btn {
    color: $color__principal__azul;
    border: 1px solid white;
    background-color: white;
    z-index: 2;
}

[type="radio"]:checked ~ .timeline__momento__btn ~ .timeline__momento__explicacion {
    z-index: 1;
}

/*   SUBIR FORMULARIO   */

.adform__input__text,
.adform__input__checkbox {
    padding: 12px 22px;
    background-color: $color__light__gray;
    border: 1px solid $color__black;
    border-radius: 17px;
    margin-top: 10px;
}

.adform__input__checkbox {
    padding: 10px 10px;
}

.adform__input__checkbox:checked {
    background-color: $color__principal__verde;
}

.adform__tags,
.input__experiencia {
    display: flex;
    margin: 3px 0;
    gap: 5px;
}

.input__experiencia {
    flex-direction: column;
    padding-top: 10px;
}

.tag__label,
.nivel__label {
    background: $color__light__gray;
    border-radius: 22px;
    padding: 10px;
    border: 1px solid $color__black;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.adform__tag [type="checkbox"],
.input__experiencia__nivel [type="radio"] {
    opacity: 0;
    display: none;
}
  
[type="checkbox"]:checked ~ .tag__label,
[type="radio"]:checked ~ .nivel__label {
    background: $color__principal__verde;
    border-radius: 22px;
}



/*   NEWSLETTER FORM   */
.newsletter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
}

@media all and (min-width: 800px) {
    .newsletter__form {
        flex-direction: row;
    }
}    

.newsletter__input {
    border-bottom: 1px solid black;
    width: 100%;
}


