/*   LINKS   */

.topbar__nav__link {
    font-size: $header--m;
    border: 1px solid $color__dark;
    border-radius: $border__radius--xl;
    padding: 5px 30px;
    @include mq {
        font-size: $header--s;
        border: 0;
        transition: border 0.2s;
        padding: 0;
        
        &:hover {
            border-bottom: 3px solid $color__dark;
            border-radius: 5px;
        }
    }
}

.mobil__redes__link {
    font-size: $copy--xs;
    padding: 5px 20px;
    background-color: $color__secundario__morado;
    color: $color__white;
}

.movil__menu--on,
.mobil__redes__link {
    @include mq {
        visibility: hidden;
        display: none;
    }
}
.nav__menu__cookies {
    text-decoration: none;
    font-size: $copy--xs;
}

.nav__menu__cookies:visited {
    color: $color__secundario__morado;
}

.menu__redes__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}