/*   LINKS   */

.topbar__nav__link {
    appearance: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    color: $color__white;
    cursor: pointer;
    border: 0;
    transition: border 0.2s;
}

.topbar__nav__link:hover {
    border-bottom: 3px solid $color__white;
    border-radius: 5px;
}

.menu__redes__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}