/*   LISTAS   */

.about__article__list {
    display: flex;
    flex-direction: row;
    width: 100%; /*TODO width--100*/
    padding: 0;
    gap: 12px;
    overflow-x: scroll;
    @include mq($bp-large) {
        justify-content: center;
    }
}

.article__list__profile {
    list-style-type: none;
}

.subir__pasos,
.buscar__pasos {
    padding: 0;
    display: none;
}

.subir__paso,
.buscar__paso {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px 30px;
    gap: 15px;
    border: 1px solid $color__black;
    border-radius: $border__radius--xl;
}

.objetivos__list {
    padding: 0;
    @include mq($bp-large) {
        display: flex;
        justify-content: space-evenly;
        padding: 60px 0;
    }
}

.objetivos__list__item {
    list-style-type: none;
    font-size: $copy--m;
    color: $color__white;
    @include mq($bp-large) {
        width: min-content;
    }
}

.equipo__grupo,
.equipo__proyectos__grupo {
    padding: 30px 0;
    @include mq {
        display: flex;
    }
}

.equipo__grupo {
    @include mq {
        justify-content: center;
        width: 100%;
        gap: 40px;
    }
}

.equipo__proyectos__grupo {
    @include mq($bp-large) {
        justify-content: space-around;
    }
}

.equipo__miembro {
    @include mq {
        display: flex;
        flex-direction: column;
    }
}

.equipo__proyecto {
    @include mq($bp-large) {
        display: flex;
        flex-direction: column;
    }
}