/////*     SECTIONS y TOPBAR    *//////
.pattern__section {
  margin-bottom: 80px;
}

.topbar {
  justify-content: center;
}

.topbar,
.topbar__spacebtwn {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 3;
}

.topbar__spacebtwn {
  justify-content: space-between;
}

@media all and (min-width: 800px) {
  .topbar {
    justify-content: space-between;
    padding: 0;
  }
}

.section__intro {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: flex-end;
  padding: 20px 0;
  gap: 61px;
  border-radius: 0 0 38px 38px;

  
  background: url("../../img/cartel_musica.png") no-repeat center;
  background-color: black;
  background-size: cover;
}

.section__about {
  width: 100vw;
  background-color: $color__white;
}

.section__resumenfotos,
.section__funcionamiento,
.section__asociacion {
  text-align: center;
  background-color: $color__white;
}

.section__funcionamiento {
  padding: 30px 15px 0px;
}

.section__asociacion {
  padding: 12px;
}

/*   PÁG. ABOUT   */

.section__objetivos {
  padding: 40px;
  background: linear-gradient(180deg, rgba(80, 173, 177, 0) 0%, $color__principal__azul 63.54%);
  border-radius: 0px 0px 42px 42px;
  text-align: center;

}

.section__historia,
.section__equipo {
  text-align: center;
  padding: 0 25px;
}

/*   PÁG. SUBIR PRINCIPAL   */

.section__number {
  border: 1px solid black;
  border-radius: 100%;
  width: fit-content;
}

.section__anuncios {
  padding: 0 30px;
}

@media all and (min-width: 800px) {
  .section__anuncios {
    padding: 0 60px;
    display: flex;
    gap: 40px;
  }
}

@media all and (min-width: 1220px) {
  .section__anuncios {
    padding: 0 300px;
  }
}

@media all and (min-width: 1557px) {
  .section__anuncios {
    padding: 0 400px;
  }
}

/*   PÁG. SUBIR FORM   */

.section__adform {
  border: 1px solid $color__black;
  border-radius: 27px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1220px) {
  .section__adform {
    margin: 60px 200px;
  }
}

/*   FOOTER   */

.footer {
  background-color: $color__principal__amarillo;
  padding: 60px 30px;

}

@media all and (min-width: 800px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 90px;
  }
}

