body {
    margin:0;
    padding: 0;

    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.main__pagesubir {
    padding: 100px 23px 0;
}

/*   ARTICLES   */

    /*   HOME PAGE   */

.about__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 22px 20px;
    gap: 20px;
    background-color: $color__white;
}

.funcionamiento__subir,
.funcionamiento__buscar {
    margin-top: 50px;
    background-color: $color__white;
}

@media all and (min-width: 800px) {
    .funcionamiento__subir,
    .funcionamiento__buscar {
        width: 50%;
    }
}

.asociacion__article {
    padding-bottom: 40px;
}

    /*   ABOUT PAGE   */
.historia__timeline {
    display: flex;
    justify-content: space-around;
    position: relative;
    min-height: 900px; /* TODO Inconveniente */
    margin: 25px 0;
    border-top: 1px solid black;
}

@media all and (min-width: 1220px) {
    .historia__timeline {
        min-height: 500px; /* TODO Inconveniente */
    }
}

    /*   SUBIR PAGE PRINCIPAL   */
.comofunciona__ejemplos {
    text-align: left;
    margin-top: 60px;
}

    /*  BUSCAR PAGE - CARD   */

.adcard {
    font-family: 'poppins', Arial, sans-serif;
    border-radius: 42px;
    position: relative;
    overflow: hidden;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: black;
    text-align: left;
    border: 1px solid black;
    opacity: 0.9;
}
  
.adcard:hover {
    opacity: 1;
}

/* DIVs */

.topbar__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    
    width: 100vw;
    height: 100vh;
    background-color: $color__white;
    color: $color__dark;
    padding: 80px 32px;
    gap: 50px;

}

@media all and (min-width: 800px) {
    .topbar__nav {
        display: flex;
        visibility: visible;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        width: 80%;
        height: auto;
        background: none;
        padding: 20px;
        gap: 45px;
    
    }
}

.topbar__nav__mobil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media all and (min-width: 800px) {
    .topbar__nav__mobil {
        flex-direction: row;    
    }
}


.mobil__menu__redes {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

@media all and (min-width: 800px) {
    .mobil__menu__redes {
        display: none;    
    }
}

.intro__bottombar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    gap: 10px;

}

.about__video {
    width: 100vw;
    padding: 200px 0;
    background-color: lightgray;
}

.profile__tag,
.profile__tag--amarillo,
.profile__tag--verde,
.profile__tag--azul {
    border: 1px solid black;
    border-radius: 100px;
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    width: fit-content;
    font-size: 12px;
}

.profile__tag--amarillo {
    @include tag__color($color__principal__amarillo);
}

.profile__tag--verde {
    @include tag__color;
}

.profile__tag--azul {
    @include tag__color($color__principal__azul);
}

.funcionamiento__intro {
    background-color: $color__gray--lowopacity;
    border-radius: 42px 42px 0 0;
}

/*   ABOUT PAGE   */

.historia__icons {
    display: flex;
    justify-content: space-around;
}


.intro__timeline__btns {
    border-top: 1px solid $color__dark;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 10px 0;
}

.intro__timeline__icons {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.explicacion__momento {
    padding: 10px 22px;
    font-size: 14px;
}

.timeline__momento__explicacion {
    text-align: center;
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 40px 20px;
}

@media all and (min-width: 800px) {
    .timeline__momento__explicacion {
        padding: 60px 170px;
    }
}

@media all and (min-width: 1220px) {
    .timeline__momento__explicacion {
        padding: 60px;
        display: flex;
        justify-content: space-evenly;
    }
}

.momento__explicacion__content {
    padding-bottom: 20px;
}

@media all and (min-width: 1220px) {
    .momento__explicacion__content {
        width: min-content;
    }
}

/*   SUBIR PAGE FORMULARIO   */
.adform__dato {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.adform__tags,
.input__experiencia,
.buscador__tags {
    display: flex;
    margin: 3px 0;
    gap: 5px;
    flex-wrap: wrap;
}

.input__experiencia {
    flex-direction: column;
    padding-top: 10px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.footer__nav__menu--rightborder {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px 40px 15px 0;
}

.menu__redes {
    display: flex;
    align-items: center;
    gap: 27px;

    margin-top: 20px;
}   

@media all and (min-width: 800px) {

    .funcionamiento_partes {
        display: flex;
        justify-content: center;
        padding: 0px;
        gap: 23px;
    }

    .footer_newsletter,
    .menu__redes {
        width: 50%;
    }
}

@media all and (min-width: 1220px) {

    .resumen__bgfotos {
        display: flex;
        width: 100%;
    }

    .funcionamiento_partes {
        padding: 0 250px;
    }
}

    /*   BUSCAR PAGE   */

.buscador__articles {
    background-color: $color__white;
    border: 1px solid $color__dark;
    border-radius: 22px;
    padding: 16px 12px;
    transition: display 1s ease-in-out;
}

.buscador__tags {
    margin-bottom: 10px;
}

.buscador__tags--principales {
    margin-bottom: 20px;
}

.card__caption {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 25px;
    position: relative;
}

.card__caption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent white;
}

.caption__grouptag {
    display: flex;
    gap: 5px;
}

.caption__links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*   SPAN   */

.topbar__menu__line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $color__dark;
    border-radius: 3px;
    mix-blend-mode: screen;
}

    /*  BUSCAR PAGE */

.caption__tag {
    display: block;
    font-size: 0.6em;
    border: 1px solid black;
    border-radius: 22px;
    width: fit-content;
    padding: 0 10px;
    font-weight: 400;
    font-family: 'poppins', sans serif;
}





