@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Syncopate:wght@400;700&display=swap');

/*   HOME PAGE   */
.text__intro {
    font-family: $font__family--brand;
    font-weight: $font__brand--bold;
    font-size: $header--m;
}

.btn__profile__text {
    margin: 10px 0;
}

.resumenfotos__text {
    padding: 40px 15px;
}

.funcionamiento__explicacion {
    padding: 12px;
}

/*   ABOUT   */

.miembro__text__nombre,
.proyecto__text__nombre {
    font-family: $font__family--base;
    font-size: $copy--m;
    padding: 10px 0 5px;
}

.miembro__text__status,
.proyecto__text__localizacion {
    font-size: $copy--s;
    font-weight: $font__regular;
    color: $color__secundario__morado;
}

/*   SUBIR PAGE   */
.anuncio__link p {
    @include mq($bp-large) {
        font-size: $copy--l;
    }
}

/*   SUBIR FORMULARIO   */
.tag__label,
.tag__buscador {
    font-size: $copy--xs;
}

.tag__label {
    @include mq {
        font-size: $copy--m;
    }
}

/*   BUSCAR PAGE   */
.tag__buscador,
.btn__allresults {
    font-weight: $font__base--semibold;
}

.tag__big,
.btn__allresults {
    font-size: $copy--s;
}

.caption__title {
    margin-bottom: 5px;
}

.card__caption p {
    margin: 15px 0 10px;
    font-size: $copy--s;
    color: $color__black;
}

/*   GENERALES   */
.intro__title {
    font-family: $font__family--brand;
    font-weight: $font__regular;
    font-size: $header--s;
    padding: 30px 0;
    @include mq {
        padding: 30px 60px;
    }
    @include mq($bp-large) {
        padding: 30px 300px;
    }
}

.project__name {
    font-family: $font__family--brand;
    font-weight: $font__brand--bold;
    font-size: $header--l;
    @include mq {
        font-size: $header--xl;
    }
}

.strong__verde {
    color: $color__principal__azul;
}

.big__number {
    font-size: $header--xxl;
    padding: 0 44px;
}

.number__2 {
    padding: 0 36px;
}