@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Syncopate:wght@400;700&display=swap');

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
.h1 {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h2,
.h2 {
    font-family: 'syncopate', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

h3,
.h3 {
    font-family: 'syncopate', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h4,
.h4 {
    font-weight: 700;
}

h6 {
    font-weight: 400;
    font-size: 12px;
}

.menu__redes__link h6 {
    font-size: 10px;
}

input {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

[placeholder="Escribe tu email"] {
    font-size: 12px;
}

.text__intro {
    font-family: 'syncopate', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.btn__profile__text {
    margin: 10px 0;
}

.btn__profile__text h4 {
    font-weight: 400;
    margin: 10px 0;
}

.resumenfotos__text {
    padding: 40px 15px;
}

.funcionamiento__explicacion {
    padding: 12px;
}

/*   ABOUT   */

.equipo__proyectos {
    text-align: left;
}

.miembro__text__nombre,
.proyecto__text__nombre {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 5px;
    
}

.miembro__text__status,
.proyecto__text__localizacion {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color__secundario__morado;
    
}

/*   SUBIR PAGE   */

.anuncio__link p,
.anuncio__link h2 {
    width: 100%;
}

.anuncio__link h2 {
    text-align: center;
    padding-bottom: 20px;
}

@media all and (min-width: 1220px) {
    .anuncio__link h2 {
        font-size: 32px;
    }

    .anuncio__link p {
        font-size: 20px;
    }
}

/*   SUBIR FORMULARIO   */

.tag__label {
    font-size: 12px;
}

@media all and (min-width: 800px) {
    .tag__label {
        font-size: 16px;
    }
}

/*   GENERALES   */

.project__name {
    font-family: 'syncopate', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.big__number {
    font-size: 96px;
    font-weight: 400;
    padding: 0 44px;
}

.number__2 {
    padding: 0 36px;
}

.text--center {
    text-align: center;
}