/*    COLORS    */

$color__principal__verde: rgba(185, 213, 138, 1);
$color__principal__azul: rgba(80, 173, 177, 1);
$color__principal__amarillo: rgba(239, 196, 123, 1);
$color__secundario__morado: rgba(57, 45, 91, 1);
$color__primario__coral: rgba(234, 96, 67, 1);

$color__black: black;
$color__dark: rgba(50, 50, 50, 1);
$color__dark__gray: rgba(72, 72, 72, 1);
$color__gray: rgba(217, 217, 217, 1);
$color__gray--lowopacity: rgba(217, 217, 217, 0.2);
$color__light__gray: rgba(245, 245, 245, 1);
$color__white: rgba(255, 255, 255, 1);
$color__white--lowopacity: rgba(255, 255, 255, 0.2);

/*    FONT   */

$font__family--brand: 'syncopate', sans-serif;
$font__family--base: 'poppins', sans-serif;

/*    FONT SIZE   */
$header--xxl: 5.625rem;   //90
$header--xl: 3.75rem; //60
$header--l: 3rem;   //48

$header--m: 2rem;    //32
$header--s: 1.5rem; //24

$copy--l: 1.25rem;//20
$copy--m: 1rem;   //16
$copy--s: 0.875rem;  //14
$copy--xs: 0.75rem;//12
$copy--xxs: 0.625rem;//10

/*    FONT WEIGHT   */
$font__brand--bold: 700;
$font__base--semibold: 600;
$font__regular: 400;


/*    BORDER RADIUS   */

$border__radius--xl: 2.625rem; //42
$border__radius--l: 1.375rem; //22
$border__radius--m: 1.125rem; //18
$border__radius--s: 0.625rem; //10



@keyframes example{
    0%{
      background-image: url("../../img/cartel_musica.png");
      
    }
    35%{
      background-image: url("../../img/cartel_interpretacion.png");
    }
    70%{
      background-image: url("../../img/cartel_danza.png");
    }
    100%{
      background-image: url("../../img/cartel_audiovisual.png");
    }
 }

@mixin tag__color ($color: $color__principal__verde) {
  font-size: 20px;
  background-color: $color;
}

@mixin bgfotos__withtags ($bgfoto: (url("../../img/img-camara-frontal.jpg")no-repeat center), $text-align: right, $padding: 200px 45px, $bgsize: cover) {
  background: $bgfoto;
  background-size: $bgsize;
  text-align: $text-align;
  padding: $padding;
}

.margin-bottom--lv0 {
  margin-bottom: 10px;
}
.margin-bottom--lv1 {
  margin-bottom: 20px;
}
.margin-bottom--lv2 {
  margin-bottom: 40px;
}
.margin-bottom--lv3 {
  margin-bottom: 60px;
}

.padding-bottom--lv0 {
  padding-bottom: 10px;
}
.padding-bottom--lv1 {
  padding-bottom: 20px;
}
.padding-bottom--lv2 {
  padding-bottom: 40px;
}
.padding-bottom--lv3 {
  padding-bottom: 60px;
}

.text-align--left {
  text-align: left;
}
.text-align--right {
  text-align: right;
}
.text-align--center {
  text-align: center;
}

$bp-small: 600px;
$bp-medium: 800px;
$bp-large: 1220px;
$bp-extralarge: 1557px;

@mixin mq($bp: $bp-medium, $bp-direction: min-width) {
  @media all and ($bp-direction: $bp) {
    @content;
  }
}

